/* 用于规定，头部 */
body {
    margin: 0;
}

.container-80 {
    width: 80%;
    margin: 0 auto;
    padding: .5em 1em;
}

.container-100 {
    width: 100%;
    margin: 0;
    padding: 0;
}

.container-header {
    background-color: black;
    color: white;
}

.container-footer {
    /*尾部暂未更新*/
}
